@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'cubano';
  src: url('/assets/font/Cubano.ttf'); 
 }

 .outline-title {
  text-shadow:
    -1px -1px 0 #1E2760,  
     1px -1px 0 #1E2760,
    -1px  1px 0 #1E2760,
     1px  1px 0 #1E2760;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
